body {
	font-family: "Gilroy";
	font-size: 16px;
	background-color: $white_color;
	@extend %scroll;
	&::-webkit-scrollbar {
		width: 0.5rem;
		
	}
	&::-webkit-scrollbar-track {
		background: $white_color;
	}
}

.wrapper {
	position: relative;
}

.container {
	position: relative;
	max-width: 1600px;
	margin: 0 auto;
	padding: 0 10rem;
}