@import "fonts";
@import "_reset";
@import "_mixins";
@import "_tamplates";
@import "_variables";
@import "_root";
@import "_components";

.header {
	transition: all 0.5s ease-in;

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		align-items: center ;
	}

	&__logo {
		max-width: 4.375rem;
		cursor: pointer;
		img {
			width: 4.375rem;
			height: 2.8125rem;
		}
		z-index: 2;
	}

	&__nav {
		
	}

	&__icons {
		display: flex;
		justify-self: end;
		gap: 1.5rem;
		z-index: 2;
	}

	&__user {
		max-width: 1.375rem;
		cursor: pointer;
		img {
			width: 1.375rem;
			height: 1.375rem;
		}
	}

	&__card {
		max-width: 1.375rem;
		cursor: pointer;
		img {
			width: 1.375rem;
			height: 1.375rem;
		}
	}
}

.nav {

	&__list {
		display: flex;
		padding: 2.56rem 0 2.31rem;
		justify-content: space-between;
		width: 100%;
		z-index: 2;
	}

	&__main {
		.nav__item {
			a {
				color: $white_color;
			}
		}
		.nav__toggle {
			background-image: url('@img/arrow_down-white.svg');
			background-repeat: no-repeat;
			background-position: right;
		}
	}

	&__item {
		//position: relative;
		display: block;
		cursor: pointer;
		color: #333;
		font-size: 0.875rem;
		font-family: Gilroy;
		font-weight: 700;
		line-height: 1.6rem;
		z-index: 2;

		&.nav__toggle {
			padding-right: 1.61rem;
			transition: all 0.5s ease-in;
		}
	}

	&__toggle {
		background-image: url('@img/arrow_down.svg');
		background-repeat: no-repeat;
		background-position: right;
		z-index: 1;
		a {
			position: relative;
			z-index: 3;
		}
	}
}

.nav__toggle:hover > .submenu__list {
	top: 0rem;
	opacity: 1;
	padding-top: 10.81rem;
}

.submenu {

	&__list {
		display: flex;
		background-color: $white_color;
		position: absolute;
		width: 100%;
		opacity: 0;
		padding: 0 10rem 3rem;
		box-sizing: border-box;
		margin: 0 auto;
		left: 0;
		//top: -10.81rem;
		//bottom: -3.06rem;
		top: -10rem;
		gap: 2.94rem 5.19rem;
		flex-wrap: wrap;
		transition: all 0.2s ease-in;
		z-index: 2;
	}

	&__item {
		color: #333;
		font-size: 1.5rem;
		font-family: Gilroy;
		font-weight: 600;
		z-index: 2;
		background: $white_color;
	}
}

.header {

	&__info {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 35rem;
		pointer-events: none;
		transition: all 0.2s ease-in;
	}

	&__slug {
		color: #FFF;
		font-size: 0.9375rem;
		font-family: Gilroy;
		font-weight: 700;
		//line-height: 1.6rem;
	}

	&__title {
		color: #FFF;
		font-size: 4rem;
		font-family: Gilroy;
		font-weight: 600;
		//line-height: 4rem;
		letter-spacing: 0.04rem;
		text-transform: uppercase;
		padding-top: 1.79rem;
		padding-bottom: 2.13rem;
	}

	&__button {
		background: #272727;
		padding: 1.07438rem 2.59938rem 1.04875rem 2.5625rem;
		color: #FFF;
		box-sizing: border-box;
		text-align: center;
		font-size: 0.875rem;
		font-family: Gilroy;
		font-weight: 700;
		//line-height: 1.6rem;
		max-width: 12rem;
		pointer-events: auto;
	}
}

.cart {
	padding: 8rem 0;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		a {
			position: relative;
			color: $main_color;
			font-size: 0.9375rem;
			font-family: Gilroy;
			font-weight: 300;
			line-height: 1.6rem;

			&:after {
				content: '';
				position: absolute;
				bottom: -0.1rem;
				left: 0;
				height: 1px;
				width: 0%;
				display: block;
				background: $main_color;
				background-size: 100% 1px;
				transition: all .3s ease-in-out;
			}

			span {
				display: inline-flex;
				width: 1.5rem;
				height: 1.5rem;
				margin-left: 1rem;
				justify-content: center;
				align-items: center;
				flex-shrink: 0;
				border-radius: 50%;
				background: rgba(39, 39, 39, 0.10);
				transition: all .3s ease-in-out;
			}

			&:hover {
				&::after {
					width: 68%;
				}
				span {
					background-color: $main_color;
					svg path{
						stroke: $white_color;
					}
				}
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4 , 1fr);
		gap: 3rem 1.5rem;
		padding-top: 2rem;
	}

	&__image {

		img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
		
	}

	&__title {
		color: $main_color;
		text-align: center;
		font-size: 0.9375rem;
		font-family: Gilroy;
		font-weight: 700;
		line-height: 1.6rem;
		padding-top: 1.5rem;
	}

	&__price {
		color: rgba(39, 39, 39, 0.70);
		text-align: center;
		font-size: 0.9375rem;
		font-family: Gilroy;
		font-weight: 300;
		line-height: 1.6rem;
	}
}

.promo {

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		//justify-content: space-between;
		gap: 1.88rem;
		padding: 8rem 0  6.12rem;
	}

	&__item {
		text-align: center;
		width: 100%;
		//padding: 0rem 2.29063rem 0.6125rem 2.29125rem;
	}

	&__title {
		color: $main_color;
		text-align: center;
		font-size: 1.25rem;
		font-family: Gilroy;
		font-weight: 600;
		line-height: 1.75rem;
		text-transform: uppercase;
		padding: 1.86rem 0 1.31rem;
	}

	&__desc {
		color: $main_color;
		text-align: center;
		font-size: 0.9375rem;
		font-family: Gilroy;
		font-weight: 300;
		line-height: 1.6rem;
	}
}

.footer {
	background-color: $main_color;
	padding-top: 4rem;

	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 4.74rem;
	}

	&__block {
		//width: 100%;
	}

	&__info {
		display: flex;
		width: 100%;
		gap: 2.5rem;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: 9.81944rem; 
		img {
			width: 100%;
		}
	}

	&__desc {
		color: rgba(255, 255, 255, 0.70);
		font-size: 0.9375rem;
		font-family: Gilroy;
		font-style: italic;
		font-weight: 300;
		line-height: 1.6rem;
	}

	&__payments {
		display: flex;
		gap: 0.5rem;
		padding-top: 3.28rem;
	}

	&__nav {
		& .nav {
		
		&__list {
			width: 100%;
			display: flex;
			justify-content: space-between;
			padding: 0 0 4.5rem;
		}

		&__item {
			background: none;
			a {
				color: #FFF;
				font-size: 1.33131rem;
				font-family: Gilroy;
				font-weight: 700;
				line-height: 2.43438rem;
			}
		}

		&__toggle {
			position: relative;
			padding: 0;

			svg {
				padding-left: 2rem  ;
			}
		}

		}

		& .nav__toggle:hover>.submenu__list {
			top: 0;
			opacity: 1;
			padding-top: 0;
		}

		& .submenu {

			&__list {
				display: block;
				position: relative;
				top: 0;
				right: 0;
				padding: 0;
				opacity: 1;
				background-color: transparent;
			}

			&__item {
				background-color: transparent;
				a {
					color: rgba(255, 255, 255, 0.80);
					font-size: 1.125rem;
					font-family: Gilroy;
					font-weight: 500;
				}
			}
		}
	}	
}

.payments {

	&__item {
		cursor: pointer;
	}
}

.card {
	position: fixed;
	display: grid;
	grid-template: minmax(2rem, auto) 1fr minmax(2rem, auto) / 1fr;
	height: 100vh;
	max-width: 40rem;
	width: 40rem;
	padding: 2.5rem 3.88rem 2.06rem;
	box-sizing: border-box;
	top: 0;
	right: -41rem;
	background-color: $white_color;
	z-index: 99;
	transition: all .4s ease-in-out;

	&__background {
		@extend %position_center;
		display: none;
		opacity: 0;
		background: rgba(0, 0, 0, 0.30);
		z-index: 90;
		transition: all .4s ease-in-out;
	}
	
	&__header {
		display: flex;
		flex-direction: column;
		border-bottom: 3px solid #333;

		p {
			color: #000;
			font-size: 0.875rem;
			font-family: Gilroy;
			font-weight: 500;
			line-height: 1.6rem;
			padding: 0.62rem 0;
		}
	}

	&__header-title {
		display: flex;
		justify-content: space-between;
		h1 {
			color: #000;
			font-size: 1.5rem;
			font-family: Gilroy;
			font-weight: 700;
			line-height: 1.6rem;
		}
		img {
			max-width: 0.73138rem;
			cursor: pointer;
		}
	}

	&__main {
		overflow-y: auto;
		overflow-x: hidden;
		@extend %scroll;
	}

	&__item {
		display: grid;
		padding-top: 1.56rem;
		grid-template-columns: minmax(5rem, auto) 1fr minmax(5rem, auto);
		//justify-content: space-between;

		img {
			width: 100%;
		}
	}

	&__footer {
		padding: 1.81rem 0 0 0;
		border-top: 1px solid rgba(51, 51, 51, 0.15);
	}

	&__info {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		color: #333;
		font-size: 1.5rem;
		font-family: Gilroy;
		font-weight: 500;
		line-height: 1.6rem;
	}

	&__price {
		color: #333;
		font-size: 1.5rem;
		font-family: Gilroy;
		font-weight: 500;
		line-height: 1.6rem;
	}

	&__desc {
		color: rgba(51, 51, 51, 0.40);
		font-size: 0.875rem;
		font-family: Gilroy;
		padding: 0.63rem 0 1.81rem;
	}

	&__button {
		width: 100%;
		height: 3.4375rem;
		border-radius: 5px;
		background: #71C8FF;
	}
}

.item {

	&__img {
		max-width: 5rem;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin-left: 0.94rem;
	}

	&__title {
		color: #333;
		font-size: 0.875rem;
		font-family: Gilroy;
		font-weight: 500;
		line-height: 1.6rem;
	}

	&__price {
		color: #333;
		font-size: 0.875rem;
		font-family: Gilroy;
		font-weight: 300;
		line-height: 1.6rem;
	}

	&__desc {
		color: #333;
		font-size: 0.875rem;
		font-family: Gilroy;
	}

	&__count {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		input {
			width: 2.8125rem;
			height: 1.9375rem;
			text-align: center;
			color: #333;
			font-size: 1rem;
			font-family: Gilroy;
			font-weight: 500;
			border-radius: 2px;
			border: 1px solid rgba(51, 51, 51, 0.15);
		}

		a {
			color: #333;
			font-size: 1rem;
			font-family: Gilroy;
			font-weight: 500;
			text-decoration-line: underline;
		}
	}
}

// ! FORM STYLE

main {
	position: relative;
	z-index: 0;
}

.form {
	position: relative;
	max-width: 42rem;
	display: flex;
	flex-direction: column;
	z-index: 0;
	padding: 3.5rem 7.5rem;
	margin: 3.1rem auto 8.49rem;
	border-radius: 45px;
	background: rgba(39, 39, 39, 0.05);

	&__title {
		color: #272727;
		text-align: center;
		font-size: 2.5rem;
		font-family: Gilroy;
		font-weight: 600;
		line-height: 2.75rem;
		text-transform: uppercase;
		z-index: 0;
	}

	&__main {
		form {
			display: flex;
			gap: 1rem;
			flex-direction: column;
			margin-top: 2.88rem;
		}

		input {
			padding: 1.28rem 1.31rem;
			color: $main_color;
			font-size: 1rem;
			font-family: Gilroy;
			font-weight: 300;
			line-height: 1.6rem;
			border-radius: 2px;
			border: 1px solid rgba(39, 39, 39, 0.12);

			&::placeholder {
				color: $main_color;
				font-size: 1rem;
				font-family: Gilroy;
				font-weight: 300;
				line-height: 1.6rem;
				opacity: 0.5;
			}
		}
	}

	&__link {
		padding: 1.25rem 0 0.79rem;
		color: rgba(39, 39, 39, 0.70);
		font-size: 0.8125rem;
		font-family: Gilroy;
		font-weight: 300;
		line-height: 1.4rem;
	}

	&__button {
		color: #FFF;
		text-align: center;
		font-size: 0.9375rem;
		font-family: Gilroy;
		font-weight: 700;
		line-height: 1.6rem;
		padding: 1.26rem 0 1.3rem;
	}

	&__link-center {
		text-align: center;
		font-size: 0.9375rem;
		line-height: 1.6rem;
		padding: 1.69rem 0 0;
	}
}